﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="RiskAssessApp.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
 <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
    <h1>Application Support</h1>

    <%--<h3>Your application description page.</h3>--%>
    <h4>Please contact the <b>ICT Helpdesk</b> for any issues or information regarding this application.</h4>
    <br />
    <p><b>p:</b> ext. 4192</p>
    <p><b>e:</b><a runat="server" href="mailto:helpdesk@st-vincents.ie"> helpdesk</a> </p>
</asp:Content>
