﻿html {
    /*background-color: #cbcbcb;*/
    margin: 0;
    padding: 0;
 
 
}

body {
    background-color: #ebedef;
    color: #5d5d5d;
    /*font-size: .85em;*/
    font-family: century gothic;
    margin: 0;
    padding: 0;
    min-height: 950px; /*required to stop the jumping around on pages with multiple forms posting back*/


}

:focus{
  outline:none;
}

.navbar-inverse {
    border-color: #525f68;
    background: #21354d;
    box-shadow: 0 1px 10px #131415;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;

}

.navbar-brand:hover{



}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #6186b2;
    /*background: #406898;*/
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #9dc9ff;
    /*background: #406898;*/
    /*border: solid 1px #b3cf1d;
    border-radius: 3px;*/
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: none; 
    box-shadow: none !important;
}

.navbar-inverse .navbar-toggle {
    border-color: #a5a5a5;
    box-shadow: none !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #b5b5b5;
}

.titl{
    display:inline;
}

.titl a{
    font-size: 1.4em;
    color: #a5a5a5;
    text-decoration:none;
      display: inline-block;
      padding-top: 40px;
}

.chrt{
    border-radius:5px;
    box-shadow: 0px 2px 3px darkgrey;
    margin-right: 15px;
}

.logn {
  box-shadow: 0px 2px 3px #9FA1A5;
  background-color: #FAFAFA;
  margin: 100px auto;
  width: 450px;
  display:block;
}

.logn input[type="checkbox"]{
    margin-left: 100px !important;
}


#txtReqDesc {
    height:140px;
  width: 147px;
  max-width: 200px;
}

.dv{
    font-size:.9em;
    float:left;
}
.dv td{
    padding:0;
}

#txtNote{
    width: 385px !important;
    max-width: 385px !important;
    max-height: 500px !important;
    height: 50px;
    max-width: 375px;
    font-size: 0.95em !important;
}

#MainContent_OKButton{
    font-size: Smaller;
    width: 76px;
    /* margin-left: 29px; */
    margin-right: 20px;
    /*margin-top: -29px;*/
    background: #ff5555;
    float: right;
}
.dv input[type="submit"],input[type="button"]{
  /*color: black;*/
  width: 100px;
}


input[type="submit"]:active, input[type="button"]:active {
    /* color: rgb(46, 46, 46) !important; */
    box-shadow: inset 0px 2px 5px #3C3C3C !important;
}
.popuppan{
    background-color: #fdfdfd;
    border-color: #969696;
    color: rgb(51, 67, 79);
    border-width: 0px;
    border-style: Solid;
    position: absolute;
    top: 0px;
    right: 0px;
    box-shadow: 0px 6px 16px #676767;
    height: 795px;
    width: 1319px;
    font-size: .9em;
    display: none;
    border-radius: 0px;
}

#scrollerdiv{
    overflow-y: auto;
    overflow-x: hidden;
    /* background: red; */
    max-height: 740px;
    /* max-width: 868px; */
    border: none;

}

a:hover, a:focus {
    color: #233449;
    text-decoration: none !important;
    outline:none !important;
}

/*.popuppan input{
}*/


#poppanMen1{

    background:whitesmoke;
    /*height:600px;*/
    width:850px;
    height: 735px;
    font-size: .9em !important;
    border:solid 0px silver;
    box-shadow: 0 4px 10px #7a7a7a !important;
    z-index:1;
}

    #poppanMen1 .standardbtn {
        width: 155px;
    }

    #poppanMen1 #OKButton {

     width: 100px;
     background: none !important;
     color: gray;

}
.modalbgr{
    /*-webkit-filter: blur(8px);*/
    
}

.modalBackground 
{
    height:100%;
    background-color:#394456 ;
    filter:alpha(opacity=30);
    opacity:0.3;
}

#logo{
    float:left;
    margin-top:20px;
    margin-right: 20px;
}

#btnRequest{

    background-color: #EF4545;
    color: #FFDBDB;
    height: 50px;
    width: 230px!important;
    border-radius: 5px;
    border: solid 0px white;
    box-shadow: 1px 4px 8px gray !important;
    text-align: center;
    /*transition:1s;*/
    display:none;

}


    #btnRequest:hover {
    background-color: #6DAF50;
    color: #F9F9F9;
    /* border: solid 1px silver; */
    box-shadow: 1px 4px 8px #333333;
     transition:1s;
    }


  .fleft {
    float: left;
    margin-right: 20px;
}

  .sectionLabel{
    font-size: 1.2em;
    color: #fff;
    margin-top: 15px;
    margin-left: -21px;
    margin-bottom: 30px;
    /* float: left; */
     background: #233449;
    /* border: solid 1px #ffffff; */
    /* border-top: solid 1px #cdcdcd; */
    /* border-bottom: solid 1px #cdcdcd; */
    padding: 3px;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 7px 1px 4px #eaeaea;
  }

.reqLabel {
    display: inline-block; /*width won't work without this*/
    width: 190px;
    /*margin: 15px;
    margin-bottom: 8px;*/
    color: #3b4147;
    font-size: 1em;
}

.reqLabelSm {
    display: inline-block;
    width: 135px;
    /* margin: 10px; */
    color: #505962;
    font-size: 1em;
    text-align: left;
    margin-left: 8px;
}

.reqLabelSmInline{

    display: inline-block;
    
    /* margin: 10px; */
    color: #505962;
    font-size: 1.2em;
    text-align: left;
    /*margin-left: 8px;*/
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight:600;

}

.reqLabelSmInlineSub{

    display: inline-block;
    /* margin: 10px; */
    color: #21354d;
    font-size: 1em;
    text-align: left;
    /* margin-left: 8px; */
    margin-top: 0px;
    margin-bottom: 25px;
    font-weight: 600;

}

.reqLabelLgInline{

    display: inline-block;
    /* margin: 10px; */
    color: #ffffff;
    font-size: 1.3em;
    text-align: left;
    /* margin-left: -13px; */
    margin-top: 50px !important;
    margin-bottom: 15px;
    background: #21354d;
    padding: 5px;
    min-width: 200px;
    border-radius: 3px;
}

.reqChkLabel{

    display: inline-block;
    width: 50px;
    /* margin: 10px; */
    color: #505962;
    font-size: 1em;
    text-align: left;
    
}


.reqTitle{
  font-size: 1.1em !important;
  color: #505962;
  /*text-shadow: 1px 1px 5px #474F57;*/
}

#FormView1_InsertButton {
    color: white;
    /* border: solid 2px #DFDFDF; */
    background-color: #87b841;
    box-shadow: 1px 2px 5px rgb(125, 125, 125)!important;
    border-radius: 0px;
    width: 110px !important;
    height: 30px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    margin-left: 10px;
}

#FormView1_InsertButton:active {
    box-shadow: inset 0px 2px 5px #3C3C3C !important;
}

#FormView1_InsertCancelButton {
    color: white;
    /* border: solid 2px #DFDFDF; */
    background-color: #b5b9bb;
    box-shadow: 1px 2px 5px rgb(125, 125, 125);
    border-radius: 2px;
    width: 110px !important;
    height: 30px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    margin-left: 10px;
}
#FormView1_InsertCancelButton:active {
    box-shadow: inset 0px 2px 5px #3C3C3C !important;
}


#FormView1_UpdateButton {
    color: white;
    /* border: solid 2px #DFDFDF; */
    background-color: #87b841;
    box-shadow: 1px 2px 5px rgb(125, 125, 125)!important;
    border-radius: 2px;
    width: 110px !important;
    height: 30px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    margin-left: 10px;
}

#FormView1_UpdateButton:active {
    box-shadow: inset 0px 2px 5px #3C3C3C !important;
}

#FormView1_NewButton {
    color: white;
    /* border: solid 2px #DFDFDF; */
    background-color: #69afdf;
    box-shadow: 1px 2px 5px rgb(125, 125, 125)!important;
    border-radius: 2px;
    width: 110px !important;
    height: 30px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    margin-left: 10px;
}

#FormView1_NewButton:active {
    box-shadow: inset 0px 2px 5px #3C3C3C !important;
}

.form-control{
    width:300px !important;
}

#txtMessage{
    width: 495px;
    height:200px;
    display:none;
    max-width: 495px;
    /*margin-left:20px;*/

}
#txtName{
    /*width:495px;*/
}

#btnSubmit{
    width: 100px;
    display:inline-block;
    background-color: #5dbb51;
    float:right;
}

#MainContent_ddlSubject{
padding-left: 5px;
font-family: century gothic;
width:507px;
}

a {
    color: #A0A0A0;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    border:none;
}

    a:link, a:visited,
    a:active, a:hover {
      /*color: #FF6161;*/
    }

    a:hover {
     
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
    max-width: 385px;
  

}

.float-right {
    float: right;
}

#chartGroup{
    display:none;
}



.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

hr{
    /*margin-top: -30px !important;*/
    /*margin-bottom: 0px !important;*/
}

h1, h2, h3,
h4, h5, h6 {
    color:  #686868;
    /*margin-bottom: 0;*/
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    font-weight: normal;
    /*padding-bottom: 0;*/
      /*text-shadow: 3px 5px 1px #454B51;*/
}

h1 {
    font-size: 2em;
     /*text-shadow: 3px 5px 1px #454B51;*/
}

h2 {
    font-size: 1.45em;
    font-family: inherit;
}

h3 {
    color: #676F7B;
    font-size: 1.4em;
    /*letter-spacing: 5px;*/
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    /*margin-bottom: 1em;*/
}


h6{
    font-size: .9em;
}
    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 1230px;
}

#body {
  /*background-color: #D5D7DB*/  /*#576979*/
  clear: both;
  padding-bottom: 35px;
  /*border-top: 1px solid #FFFFFF;*/
  /*box-shadow: 0px -5px 10px #6A7180;*/
  min-height: 600px;
  padding-top: 20px;
  padding-bottom: 35px;
  box-shadow: 0px 0px 16px #BBBBBB;
}

    .main-content {
    /*background-color: #F9F9F9;
    padding-left: 10px;
    padding-top: 5px;
    border: solid 1px #E6E6E6;
    border-radius: 4px;*/

    }

    #FormView1
    {
    border: solid 1px #cdcdcd;
    border-radius: 4px;
    padding: 20px;
    display: block;
    /*width: 1070px !important;*/
    margin-top: 10px;
    background-color: #fff;
    }
    .featured + .main-content {
        /*background: url("../Images/heroAccentxx.png") no-repeat;*/
    background: white;
    border-radius: 5px;
    margin-top: 16px;
    /*box-shadow: 1px 1px 7px #A2A2A2;*/
        padding: 15px;
    }

header .content-wrapper {
     
    /*min-height: 80px;
    padding-top: 20px;
    margin-bottom: 36px;*/
}
    
footer {
    clear: both;
    font-size: .9em;
    height: 100px;
    color: #b7b7b7;
    letter-spacing: 0px;
    /* text-transform: uppercase; */
    float: right;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #EAEAEA;
    /*font-size: 2em;*/
    margin: 0;
      /*width: 636px;*/
        margin-top: 10px;
        display:inline;
        font-size:2em;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: white;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
margin-top: 5px;
    display: inline-block;
    text-decoration: none !important;
    color: #FFFFFF;
    /* text-shadow: 1px 1px 2px #2E3B45; */
    border: solid 1px #90A564;
    border-radius: 4px;
    padding: 5px;
    background-color: #5dbb51;
    }

    #login a:hover{
        color: #77865C;
    background-color: white;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
        border: none;
        color: black;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


   #MainContent_archivebtn {
    color: #ffffff;
    text-transform: lowercase;
    border-radius: 5px;
    padding: 5px;
    font-size: .85em;
    background-color: #ffa31f;
}

   #MainContent_archivebtn:hover {
    color: #9fa8b1;
    background-color: white;
    border: solid 1px #d2d2d2;
}

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.2em;
    margin: 30px 0 20px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none; 
            color: #6D6D6D;
            text-decoration: none;
            text-transform: uppercase;
            font-size: .8em;
        }

        ul#menu li a:hover {
              color: #5dbb51;
  text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {

    background: -webkit-gradient(linear, left top, 0 127, from(#64cc57), to(#54a749));
    background: -ms-linear-gradient(top, #64cc57,#54a749 127px);
    
    /* background: url('../Images/ISRequestsBanner.png')no-repeat 0px 0px; */
    box-shadow: inset 0px 0px 13px #383838;
    height: 400px;
}

    .featured .content-wrapper {
            color: #fff;
    /*text-shadow: 0px 0px 2px #4E4E4E;*/
        padding: 100px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
  color: #FFFFFF;
  font-weight: normal;
  /*text-shadow: 1px 0px 3px #6C727C;*/
  text-transform: lowercase;
  font-size: 3em;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
  
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;  
   
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}


    ol.round li {
    /* margin: 25px 0; */
    /* padding-left: 45px; */
    /* box-shadow: 0px 0px 6px rgb(189, 189, 189); */
    padding-top: 5px;
    /* padding-bottom: 10px; */
    border-radius: 15px;
    width: 460px;
    height: 225px;
    float: left;
    border: 1px solid #dedede;
    margin-right: 20px;
    padding: 20px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
    line-height: 2em;
}

/* login page */
#loginForm {
    border: solid 1px silver;
    border-radius:3px;
    padding:10px;
    background: #fcfcfc;
    width: 55%;
    margin: 0 auto;
    margin-top:50px;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }
    
/* contact */
.contact h3 {
    font-size: 1.3em;
    margin-bottom: .5em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

#appdevtxt{

    font-size:.8em;
    color:#bbb;
    letter-spacing: 5px;

}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset input {
  width: inherit!important;
}
    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    label {
  /* display: block; */
  font-size: 1em;
  padding: 20px;
    }

    label.checkbox {
        display: inline;
    }

    input[type="radio"], input[type="checkbox"] {
        margin-left:13px !important;
        vertical-align: top;
    }

    input[type="text"], textarea, select {
    border: 1px solid #d9d9d9;
    /*background: #efefef;*/
    color: #787878;
    font-size: .95em;
    margin: 5px 25px 6px 20px;
    padding: 5px;
    box-shadow: inset 0px 0px 12px #f5f5f5;
    border-radius: 0px;
    /*width: 160px !important;*/
    text-align: center;
    min-width: 250px;
    /*max-width: 37.5%;*/
        }


#NotesTextBox{
    /*min-width: 600px;*/
    min-height:120px;
}

#AddressTextBox{
    min-height:120px;
}

#FormView1{
    /*display:none;*/
}

#RequestDescriptionTextBox
{
        width: 302px !important;
    max-width: 302px;
    /*height: 143px !important;*/
    max-height: 200px;
}

    textarea {
        font-family: inherit;
        /*width: 500px;*/
    }
    
        input:focus, textarea:focus {
           
            outline: 0;
        }

        
    input[type="submit"],
    input[type="button"],
    button {
  background-color: #233449;
  border: 0px solid #787878;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 4px;
  /* padding: 7px; */
  margin-right: 8px;
  /*height: 25px;*/
 /*box-shadow: 2px 2px 3px #475056;*/
  color: white;
        }

    /*: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }*/

    td input[type="submit"],
    td input[type="button"],
    td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
    /*box-shadow: 2px 2px 3px #475056 !important;*/
    font-family: century gothic;
    width: 75px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: .9em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/
table {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    /*margin-right: 512px;*/
}



th {
	font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
        
    }

	th a:link, th a:visited, th a:active, th a:hover {
		color: #333;
		font-weight: 600;
		text-decoration: none;
        padding: 0;
	}

	th a:hover {
		color: #000;
	}

    th.asc a, th.desc a {
        margin-right: .75em;
    }
    
    th.asc a:after, th.desc a:after {
		display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
	}

	th.asc a:after {
		content: '?';
	}

	th.desc a:after {
		content: '?';
	}

td {
    padding: 0.25em 0em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
 
/*up to 992px collapse everything*/
@media(max-width:962px)  {  
       
    .col-md-4{
      width:100%;
    }

    /*input {
        width:100% !important;
    }

    select{
        width:100% !important;
    }*/
}


 @media only screen and (min-width: 1001px) 
 {
    
   input[type="submit"]{
        min-width:100px !important;
        max-width:100px !important;
    }

   intput[type="checkbox"]{
       max-width:30px!important;
   }

    /*input  {
       
       min-width:300px!important;
    }*/


    /*select{
        min-width:300px !important;
    }*/
  
    textarea,text {
       
        width: 98% !important;
         min-width:250px!important;
    }

    /*.divsrch{
           width:1070px;
           
       }  

    .fvsectn{
            width:1070px;
    }*/
 }

 /*<768px*/
@media only screen and (max-width: 1000px) {
  
    
      input[type="submit"]{
        min-width:100px !important;
        max-width:100px !important;
    }
    
      /* forms */
    input {
       min-width: 90% !important;
    }

    select {
        min-width:90% !important;
    }
    
    textarea {
        min-width: 90% !important;
    }
       /*.divsrch{
           width: 90%;
       }*/  
    /*body {
        background-color: lightblue;
    }*/
    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
        
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;

    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;

        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;

            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }


    
    
    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
/* END: Mobile Styles */


.gvgridlines {

     font-size:.85em;
     background:#ebedef;

    }

    .gvgridlines th {

	    padding-right: 2px;
        font-size: 1.2em;
        text-align: center;
        background:none;

	}

    .gvgridlines td{
        padding:2px;
        border: 1px solid #fff !important;
        color: #373737;
    }

    .gvgridlines td input[type="text"] select{
       box-shadow: none;
       width: 122px !important;
       height: 25px;
       font-size:.9em;
       margin:0px;
    }
    /*gridview header (it's a link so needs to be refenced as follows:)*/
    .gvgridlines tr th a, .gvgridlines tr th a:visited{

    /* color: #FFFFFF; */
    background-color: #d1dce4;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* text-shadow: 1px 1px 1px #5A6B77; */
    min-width: 103px;
    }

    .gvgridlines a{
    text-decoration: none;
    color: #ffffff;
    background-color: #9fce2e;
    border-radius: 2px;
    height: 20px;
    /*width: 45px;*/
    display:inline-block;
    font-size: 1em;
    margin-top:2px;
    /* box-shadow: 0px 1px 3px #33393D; */
    /* text-shadow: 1px 1px 1px #777777; */
    }

    .gvgridlines span{
      /*height: 24px !important;*/
      display: inline-block;
    }

    .gvgridlines a:active{
    box-shadow: inset 0px 1px 1px #3C3C3C !important;
}


    .gvgridlines tr td a {
  /*box-shadow: 0px 1px 3px #33393D;*/

}

    .gvgridlines input[type=text]{
        /*width:60px;
        height:15px;
        color:dimgray;
        border: 1px solid silver;
        font-size:.9em;*/
    }

    .gvgridlines input[type="submit"]{
    color: #ffffff;
    background-color: #9fce2e;
    border-radius: 2px;
    height: 25px;
    width: 55px;
    display: inline-block;
    font-size: 1.1em;
    box-shadow: none !important;
    }

    .gvgridlines input[type="submit"]:active {
       box-shadow: inset 0px 2px 5px #3C3C3C !important;
    }

    /*dropdown box in gv style*/
    .gvgridlines select{
        width:50px;
    }

    #dragTitleAreaPanel{
    
    height: 29px;
    cursor: move;
    color: #fff;
    background-color: #2a394d;
    font-size: 1.4em;
    padding-left: 19px;
    box-shadow: 0px 3px 3px #7a7a7a;

    }


    .divsrchResults a{
        color:#7e7e7e;
        background:none;
    }

    .divsrchResults tr td a{
       color: #ffffff;
       background: #90aaca;
    }

        .divsrchResults tr td span{
       color: #434343;
    /* background: #eaeaea; */
        width: 12px;
        padding-top: 3px;
    }

    .divsrchResults a:hover{
      color: #6f757b;

    }

/*active page no on fv*/
#fvRiskAssess a {

    color: #6e6e6e;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    margin-right: 5px;
    font-size: 1.1em;
}

/*inactive page nos on span*/
#fvRiskAssess table span {

    color: #fff;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    border: solid 1px #689100;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight:600;
    background: #92ca04;
    margin-right: 5px;
}



/*jquery calendars ('datepicker' control)*/



.ui-widget {
font-size: .8em !important;
}

.ui-datepicker {
width: 200px !important; 
}

/*jquery calender image-button*/
.ui-datepicker-trigger {
    background-color: transparent !important;
    width: 50px;
    margin-left:-10px;
}   
.ui-datepicker-trigger img{
height:20px;
width:20px;
 }

/*remove outline from calendar image-button*/
.ui-datepicker-trigger:focus{
outline:none !important;
 }

/*calendarContainder Div styling:*/

.calendarContainer{
    /*width:200px !important;*/
}

.calendarContainer table

{
width:0px;
height:0px;
}

.calendarContainer table tr td

{
padding:0;
margin:0;
}

.calendarContainer input[type="image"]{
    width:20px !important;
    height:20px !important;
    border:none;
    background-color:transparent;
    box-shadow:none !important;
}

     .emptyfleft {
         float:left;
     }


#toolsImg{
    background-image: url("../Images/ToolsWhite.png");
    background-position: 50%,50%;
    background-repeat: no-repeat;
    /*background-size: 190px 190px;*/
    height: 150px;
    width: 150px;
    float: right;
    margin-right: 59px;
    margin-top: -65px;
}

.srchbtn{

    width: 100px;
    padding: 4px;
    border-radius: 2px;
    border: 1px solid darkgrey;
    background: #4f81be;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    float:right;
}

.srchbtn:hover, .clrbtn:hover{
    text-decoration:none;
    color:#c0d8f5;
}

.srchbtn:active, .clrbtn:active{
    box-shadow: inset 0px 2px 5px #3C3C3C !important;
}

.clrbtn:active, .clrbtn:hover{
    color:gray;
}

.clrbtn{
    width: 50px !important;
    padding: 4px;
    border-radius: 2px;
    border: 1px solid darkgrey;
    background: none !important;
    color: gray;
    box-shadow:none !important;
    font-size: 1.1em;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: block;
    float: right;
}

#btnNotesHx {
    box-shadow:none !important;
    margin-right: 25px;
}

/*popup panel buttons*/ 
#CancelButton, #OKButton{
    padding: 4px;
    border-radius: 2px;
    border: 1px solid #979797;
    background: #9fce2e;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    display: inline-block;
    margin-left: 46px;
    box-shadow:none !important;
}

.standardbtn {
    padding: 4px;
    border-radius: 2px;
    border: 1px solid #979797;
    background: #9fce2e;
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    display: inline-block;
    margin-left: 46px;
}

.standardbtn:hover{
    text-decoration:none;
    color:#c0f839;
}

.standardbtn:active{
    box-shadow: inset 0px 2px 5px #3C3C3C !important;
}

.lblSerch{
    display:inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.75em;
    text-transform: uppercase;
    color: #909090;
}

.divsrch {
    /*background: #f5f5f5;*/
    text-align: center;
    border-radius: 5px;
    border: solid 1px #d8d8d8;
    display:inline-block;
    min-width:100%;
    max-width:100%;
    /*box-shadow: 0px 0px 7px #dadada;*/
}

.divsrch .reqLabelSm{
    width:60px;
}

.divsrch input[type=text]{
    text-transform: uppercase;
    text-align: center;
    /* width: 127px !important; */
    min-width: 120px!important;
    max-width: 160px !important;
    margin-right: 0px;
    margin-left: 8px;
}

.divsrchResults {
    background: #fff !important;
    padding:10px; 
    text-align: center;
    border-radius: 5px;
    border: solid 1px #d8d8d8;
    /*width: 1070px;*/
    height: 386px;
    margin-bottom: 20px;
}

.divsrchResults .gvgridlines { 
    /*width: 1050px !important;*/
    width: 100% !important;
}

.sectionLabelResults{

    font-size: 1.2em;
    color: #838383;
    margin-top: 15px;
    /*margin-left: -14px;*/
    margin-bottom: 2px;
    /*width: 1000px;*/
    /* float: left; */
     /*background: #fbfbfb; 
    border: solid 1px #d6d6d6;*/
    /* border-top: solid 1px #cdcdcd; */
    /* border-bottom: solid 1px #cdcdcd; */
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    /* box-shadow: 7px 1px 4px #eaeaea; */
}

#AddressTextBox{
    height: 75px !important;
}

#txtAddress{
    width: 96% !important ;
    height: 52px !important;
}

.demogbgr{

    /*background: #fbfbfb;*/
     /*border-radius: 5px;*/
    /* border: solid 1px #cdcdcd; */
    max-width: 100%;
    min-width:100%;
    /* height: 100px; */
    padding: 10px;
}

.demogbgr .reqLabelSm{
    color:#505962;
    width: 50px;
    /*font-weight: 600;*/
}

#txtMDTDate {
    color: #000000;
    /* background: #e5e5e5; */
    box-shadow: none;
    border-radius: 5px;
    /* border: none; */
    font-size: 1.2em;
    padding: 5px;
    /* text-align: center; */
    width: 100px !important;
}

#NewButton, #UpdateButton, #UpdateCancelButton, #InsertButton, #InsertCancelButton, #lodePx {

    /*border: solid 1px silver;*/
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:15px;
    border-radius: 3px;
    width: 100px !important;
    display: inline-block;
    text-align: center;
    background: #21354d;
    color: #fff;

}

#NewButton:active, #UpdateButton:active, #UpdateCancelButton:active, #InsertButton:active, #InsertCancelButton:active, #lodePx:active {

    box-shadow: inset 0px 2px 5px #3C3C3C !important;
}


    
#lodePx{

  margin-left: 94px;
  margin-top: 1px;
}
    

.xpandChar {
    font-size: 1.2em;
    padding-right: 5px;
    color: #9fce2e;
}

#grdSurgEdit, #grdSurgInser{
    margin-left:15px;
}

.btnEmptyDataTemplate {
    float:right;
    height:25px !important;
}

#prevtx, #pxstatus, #chemo {
 
   margin-left: 10px;
}

#expndr{

    color: #4b77ae  !important;
    font-size: 1em !important;
    margin-right: 5px;
}

/*#expndr:before{

    font-family: "Glyphicons Halflings";
    content: "\e114";
}*/

/*#expndr {

    float: right;
    margin-left: 15px;
 }*/

button[disabled], html input[disabled], textarea[disabled] {
    cursor: default !important;
    background: #ebedef !important;
    box-shadow: none !important;
    color: black !important;
    border: solid 1px #d2d2d2 !important;
    border-radius:0px;
    resize:none;
}

.sliderpanel {
	position: fixed;
    left: -264px;
    top:149px;
    transition: left 1s;
    width: 280px;
    min-height: 600px;
    border: solid 1px silver;
    border-radius: 4px;
    background: white; /*#5d697e;*/
    color: slategray;
}

.sliderpanel.expand {
    left: 0px; 
}

#txtMDTDateSlider{
    width: 200px !important;
    margin-top: 20px;
}

.calimgSm {
    background: url(../calendarSm.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    background-size: 24px;
    /* box-shadow: 0px 2px 9px #C5C5C5; */
    /* border-radius: 2px; */
    margin-left: -15px;
}
#pxpickerhandle{

    transform: rotate(90deg);
    text-transform: uppercase;
    position: absolute;
    left: 139px;
    width: 100%;
    top: 250px;
    color: #ffffff;
    font-size: 1.4em;
    text-transform: inherit;
    /* text-shadow: 1px 1px 1px #494949; */
    background: #233449;
    text-align: center;
    border-radius: 4px;
}
   #dvPxList div{
    font-size:.9em;
    display: inline-block;
    margin-bottom: 3px;
    /* border: solid 1px #f8f8f8; */
    width: 100%;
    /* height: 25px; */
    padding: 5px;
    background: #f8f8f8;
    color: #555454 !important;
   }

    #dvPxList div:hover{
        color:white !important;
        background:#9fce2e;
    }

.glyphicon {
    margin-left: 5px !important;
}

.row{
    margin:0!important;
}

.fvsectn {

    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background: #fafbfd;
    padding: 10px;
    /*padding-top: 50px;*/
    /* margin-top: -16px; */
    min-width:100%;
    max-width:100%;
    box-shadow: 0px 0px 7px #dadada;

}

/*loading spinner

    called via: 
    $('#mySpinner').addClass('spinner');
    $('#mySpinner').removeClass('spinner');

*/

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #07d;
  border-bottom-color: #07d;
  animation: spinner .8s ease infinite;
}

 select {

     text-align-last:center; /*chrome*/
    }

 .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #7d9abd;
    background-color: #233449;
    /*border-color: #adadad;*/
}

 #MainContent_chkActiv {
    margin-top: 13px;
 }
  
.LabelBoxCenter
{
    display: block;
    text-align: center;
    font-size: 1em;
    background: #21354d;
    color: white;
    padding: 3px;
    border-radius: 3px;

}

#NewAppButn{

    display: inline-block;
    padding: 5px;
    border: solid 0px white;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    background: #92ca04;
    color: white;
    width:100px;

}

#NewCompButn {
    background:#92ca04;
    padding: 4px;
    /* box-shadow: 2px 2px 3px #475056 !important; */
    font-family: century gothic;
    width: 20px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: -28px;
}